@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Nicholas Le
   Date: 10/24/18  
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
/* Code within this area determine the size of the page. */
html {
    height: 100%;
}

body {
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

header,
ul,
nav,
li,
a {
    box-sizing: border-box;
}

/* Row Styles */
/* This code controls the rows within the grid  */
.row::after {
    clear: both;
    content: "";
    display: table;
}




/* Page Header Styles */
/* The code here moves the padding and width of the header nav to fit the page  and move it left*/
body>header>img {
    display: block;
    width: 70%;
    float: left;
}

header>nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

body>header>nav>ul>li {
    display: block;
    width: 100%;
    margin-top: 5%;
}

/* Horizontal Navigation List Styles */
/* The nav here  allows the nav to be horizontal and below the header*/
nav.horizontal ul li {
    display: block;
    width: 12.5%;
    float: left;
}



/* Topics Styles */
/* The topics styles fits the pictures below the nav */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%;
}

ul#topics:first-of-type {
    margin-left: 7.75%;

}

ul#topics:last-of-type {
    margin-right: 7.75%;
}

ul#topics li img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* HR Styles */
/* This shrinks the hr line down to 50% */
hr {
    width: 50%;
}



/* Customer Comment Styles */
/* The code here changes and fits the paragraphs and imgs above the footer and below the topics */
ul#comments {
    width: 75%;
    margin: 40px auto 40px auto;
}

ul#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

ul#comments li img {
    display: block;
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

ul#comments li p {
    float: left;
    width: 70%;
}

/* Footer Styles */
/* This keeps the comments from fallinf below the footer */
footer {
    clear: both;
}